*{
    box-sizing: border-box;
}
.container-user-card{
    height: 630px;
    width: 430px;
    outline: 5px solid whitesmoke; /* поставил такой цвет что бы хоть видит границу */
    border-radius: 10px;
}
.header{
    height: 80px;
    width: 100%;
    text-align: center;
}
/* Нашел флажочек телеграм но так и не смог настроить его размер нормально, что бы было как на образце. */
#statement{
    color: rgb(50, 50, 50);
    transform: scale(0.6);
    outline-offset: 4px;
    outline: 1px solid black;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: -155px;
}
.header > p{
    margin: auto;
    margin-top: -18px;
}
.main{
    text-align: center;
    font-size: 14px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Не нашел похожего шрифта*/
    font-weight: 100;  
    margin: 40px 100px 0;
    width: 200px;
    height: 40px;
}
.main > p{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -10px;
    width: 300px;
    margin: auto;
    font-weight: 600;
}
.button-container{
    height: 90px;
    width: 100%;
}
.button{
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: skyblue;
    color: white;
    box-shadow: 0 2px 2px 0 black;
    width: 130px;
    height: 50px;
}
.img-container{
    margin: auto;
    width: 250px;
    height: 250px;
}
.photo{
    box-shadow: 0 3px 5px 10px rgb(240, 240, 240);
    border-radius: 50%;
    outline: 10px solid white;
    width: inherit;
    height: inherit;
}
.footer{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 23px;
    background-color: #1f354c;
    display: flex;
    justify-content: space-around;
}
.containers-footer{
    width: 33%;
    padding-left: 55px;
    border-right: 1px solid white;
}
.img-foot{
    color: #802b37;
    margin-left: -30px;
    margin-top: 30px;
    transform: scale(2);
}
.info{
    margin-right: -50px;
    margin-top: -50px;
}
.info > p:first-child{
    color: #802b37;
    font-size: 18px;
}
.info > p:nth-child(2){
    color: white;
    margin-top: -15px;
    margin-left: 10px;
}